 
.e2_28{
	   margin-top: 300px;
	   text-align: center;
	   font-size: 20px;
	   position: absolute;
	   top: 19%;
	   height: auto;
   }
   .button-style {
	   		  position: relative;
			  right: 320%;
		      display: inline-block;
			  padding: 10px 20px;
			  background-color: #f0f0f0;
			  border: 1px solid #ccc;
			  color: #333;
			  text-decoration: none;
			  font-weight: bold;
			  border-radius: 4px;
			  text-align: center;
			  cursor: pointer;
			  transition: background-color 0.3s, color 0.3s;
		}
		.button-style:hover {
		     background-color: #333;
  			 color: #fff;
		}
	h1 {
		margin-bottom: 40px;
		margin-top: 100px;
	}
	hr {
		width: 75%;
	}
	.write_date {
		font-family: 'Gowun Batang', serif;
	    font-family: 'Noto Sans KR', sans-serif;
		margin-left: 35%;
		font-size: 18px;
		color: grey;
	}
	.writer {	
		font-family: 'Gowun Batang', serif;
	    font-family: 'Noto Sans KR', sans-serif;	
		font-size: 18px;
		margin-left: -43%;
		font-size: 25px;
		margin-top: 100px;
		margin-bottom: 1px;
		position: relative;
		bottom: -25px;
		left: -4%;
	}
	.write_date {
		font-size: 15px;
		display: block;
		position: relative;
		right: -10%
	}
	.content {
		word-wrap:break-word;/*영문,숫자 줄바꿈*/
		word-break:break-all;
		white-space: pre-wrap;/*엔터저장+자동줄바꿈*/
		text-align: left;
		margin-bottom: 60px;
		margin-top: 20px;
		margin-left: 25%;
		width: 50%;
		font-family: 'Gowun Batang', serif;
	    font-family: 'Noto Sans KR', sans-serif;
	}
	.button {
		position: relative;
		left: 25%;
	}
	h2 {
		position: relative;
		right: 23%;
	}
	textarea {
		border-radius:5px;
		border-width: medium;
		font-family: 'Gowun Batang', serif;
		font-family: 'Noto Sans KR', sans-serif;
		wrap: hard;
		font-size: 15px;
		width:50%; 
		height:80px; 
		resize: none;
	}
	p {
		position: relative;
		right: -25%;
		text-align: left;
		width: 50%;
	}
	.write_comment{
		position: relative;
		left: -10%
	}
	.write_comment_date {
		margin-bottom: 10px;
		font-size: 15px;
		position: absolute;
		right: -5%;
	}
	.comment_content_a {
		font-size: 18px;
		margin-top: 10px;
		word-wrap:break-word;
		word-break:break-all;
		white-space: pre-wrap;
	}
	.btn_comment_submit {
		display: inline-block;
		padding: 10px 20px;
		background-color: #f0f0f0;
		border: 1px solid #ccc;
		color: #333;
		text-decoration: none;
		font-weight: bold;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s
	}
	.btn_comment_submit:hover {
		background-color: #333;
  		color: #fff;
	}
	.btn_content{
		display: inline-block;
		padding: 10px 20px;
		background-color: #f0f0f0;
		border: 1px solid #ccc;
		color: #333;
		text-decoration: none;
		font-weight: bold;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s
	}
	.btn_content:hover{
		background-color: #333;
  		color: #fff;
	}