a{
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}
.likes{
	position: absolute;
    top: 0px;
    right: 5px;
    display: flex;
    align-items: center;
    font-size: 50px;
    color: rgb(255, 128, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 3px;
    box-shadow: rgb(94, 94, 94) 5px 5px 10px;
    width: 50px;
    height: 35px;
}
li{
	list-style: none;
}

li > a > img{
	width: 400px;
	height: 400px;
	border-radius: 20px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
}


.slide_wrapper{
	top: 250px;
	position: relative;
	margin:0 auto;
	height: 100%;
	overflow: hidden;
	align-items: center;
	box-shadow: #949494 5px 5px 10px;
}

.img_slide{
	display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4열 그리드, 1fr은 동일한 너비로 설정 */
    /*justify-content: center; /* 가운데 정렬 */
    gap: 20px; /* 열 간격 */
    max-width: 1800px;
    margin: 0 auto; /* 가운데 정렬 */
}
.img_slide li{
	float: left;
	margin-right: 30px;
}
.img_slide ol{
	max-width: 350px;
}


@media (max-width: 768px) {
    .img_slide {
        grid-template-columns: repeat(2, 1fr); /* 화면이 작을 때 2열로 변경 */
        gap: 10px; /* 작은 화면에서의 아이템 간격 */
    }
}
@media (max-width: 1500px) {
    .img_slide {
        grid-template-columns: repeat(3, 1fr); /* 화면이 작을 때 2열로 변경 */
        gap: 10px; /* 작은 화면에서의 아이템 간격 */
    }
}

/*.slide_item{
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.slide-item.active {
    opacity: 1;
}*/

.slide_control{
	position: absolute;
	width: 100%;
	top: 35%;
	left: 2%;
	text-align: center;
	
}
.slide_control span{
	position: absolute;
	background: none;
	color: #000;
	padding: 10px 20px;
	margin: 0 10px;
	top: -100%;
	text-shadow: #000;
	font-size: 40px;
	
}
.slide_control span.prev{font-size: 50px; right:calc(100% - 30px); text-shadow: 1px 1px 0px #ffffff, 3px 3px 2px #663333;}
.slide_control span.next{font-size: 50px; left:calc(100% - 140px); text-shadow: 1px 1px 0px #ffffff, 3px 3px 2px #663333;}
.body_wrapper { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
	font-family: 'Jua', sans-serif;	
}
.menubar { 
	box-shadow: #949494 5px 5px 10px;
	background: linear-gradient(to right,  rgb(150, 231, 150), rgb(152, 228, 143));
	width:100%;
	height:128px;
	position:absolute;
	left:0px;
	top:115px;
}
.menu4 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:40px;
	position:absolute;
	top:161px;
	left: 75%;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
.menu3 { 
	color:rgb(0, 0, 0);
	width:170px;
	height:40px;
	position:absolute;
	top:161px;
	left: 55%;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	
}
.menu2 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:40px;
	position:absolute;
	top:161px;
	left: 35%;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	
}
.menu1 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:40px;
	position:absolute;
	left: 15%;
	top:161px;
	
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	
}
.mainicon { 
	color:rgba(23.58367010951042, 96.68749898672104, 11.683072540909052, 1);
	width:253px;
	height:100px;
	position:absolute;
	left:5%;
	top:30px;
	
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.usericon { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:55px;
	position:absolute;
	right: 6%;
	top:30px;
	font-family:Font Awesome 5 Free;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}

.logout_icon{
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:55px;
	position:absolute;
	right: 3%;
	top:30px;
	font-family:Font Awesome 5 Free;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	
}
.searchbar { 
	width:740px;
	height:50px;
	position:relative;
	left:50%;
	top:32px;
	transform: translate(-50%,0%);
	
}
.searchradius { 
	background-color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
	width:740px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	box-shadow: #949494 5px 5px 10px;
}
.searchicon { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:34px;
	height:19px;
	position:absolute;
	left:685px;
	top:8px;
	font-family:Font Awesome 5 Free;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.search_txt{
	position: relative;
	top: 10px;
	left: 5%;
	width: 600px;
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
	float: left;
	font-size: 1rem;
	line-height: 30px;
}
.search_btn{
	border: none;
	background-color: rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);;
}
.e2_14 { 
	opacity:0.800000011920929;
	width:590px;
	height:0px;
	position:absolute;
	left:56.5px;
	top:40px;
}

.footer { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100%;
	height:150px;
	position:relative;
	left:0;
	bottom: 0;
	transform: translateY(-100%);
}

.footer_comment{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.body_content{
	height: 3000px;
	position: relative;
	padding-bottom: 150px;
	
}
.category-buttons{
	display: flex;
	font-size: 30px;
	position: relative;
	padding: 20px 10px 10px 100px;
	justify-content: space-between;
}
.option-buttons{
	display: flex;
	margin-left: auto;
	margin-right: 100px;
	gap: 10px;
}
.table-button {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0;
    background-color: rgb(192, 192, 192);
}

.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recipe-item img {
    width: 400px; /* 이미지의 가로 너비를 일정한 크기로 설정 */
    height: 400px; /* 세로 높이를 자동으로 조절하여 비율 유지 */
}

.recipe-item span {
    margin-top: 10px;
    font-size: 20px;
}

.recipe-item .likes {
    margin-top: 5px;
    font-size: 20px;
    color: rgb(255, 128, 255);
}
.recipe-container {
    position: relative;
}
.likes i {
    margin-right: 5px;
}
.ranking {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30%;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    box-shadow: #949494 5px 5px 10px;
}
.ranking > span{
	position: relative;
	top: -2px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: rgb(38, 36, 36);
}

.pagination a.active {
    background-color: rgb(38, 36, 36);
    color: #fff;
    border-radius: 50%;
}





.menu1 > a, .menu2 > a, .menu3 > a, .menu4 > a {
	color: rgb(254, 255, 238);
	text-shadow: 1px 1px 1px rgb(38, 193, 50);
	letter-spacing:2px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}