.e19_182 { 
	overflow:hidden;
}
.e19_182 { 
	background-color:rgba(255, 255, 255, 1);
	width:973px;
	height:1640px;
	position:absolute;
}
.e19_183 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:44px;
	position:absolute;
	left:398px;
	top:64px;
	font-family:Amaranth;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e19_184 { 
	width:856px;
	height:1212px;
	position:absolute;
	left:67px;
	top:126px;
}
.e19_185 { 
	transform: rotate(-0.07135211650553155deg);
	width:803.0006103515625px;
	height:0px;
	position:absolute;
	left:17px;
	top:40px;
}
.e19_185 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e19_186 { 
	transform: rotate(-9.93923337957349e-17deg);
	width:803px;
	height:0px;
	position:absolute;
	left:17px;
	top:477px;
}
.e19_186 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e19_187 { 
	color:rgba(95.96812158823013, 93.9687828719616, 93.9687828719616, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:112px;
	top:10px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_188 { 
	color:rgba(144.14585798978806, 144.14585798978806, 144.14585798978806, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:682px;
	top:10px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_189 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.28999999165534973);
	width:620px;
	height:401px;
	position:absolute;
	left:112px;
	top:58px;
}
.e19_190 { 
	width:120px;
	height:33px;
	position:absolute;
	left:682px;
	top:495px;
}
.e19_191 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:56px;
	height:33px;
	position:absolute;
	left:64px;
	top:0px;
}
.e19_191 { 
	border:1px solid rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
}
.e19_192 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:56px;
	height:33px;
	position:absolute;
	left:2px;
	top:0px;
}
.e19_192 { 
	border:1px solid rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
}
.e19_193 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:77px;
	top:7px;
	font-family:Amaranth;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e19_194 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:15px;
	top:7px;
	font-family:Amaranth;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e19_195 { 
	width:643px;
	height:210px;
	position:absolute;
	left:103px;
	top:551px;
}
.e19_196 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:628px;
	height:79px;
	position:absolute;
	left:9px;
	top:51px;
}
.e19_196 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e19_197 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:79px;
	height:33px;
	position:absolute;
	left:558px;
	top:148px;
}
.e19_197 { 
	border:1px solid rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
}
.e19_198 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:19px;
	position:absolute;
	left:566px;
	top:155px;
	font-family:Amaranth;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e19_199 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:9px;
	top:19px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_200 { 
	color:rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
	width:71px;
	height:22px;
	position:absolute;
	left:15px;
	top:59px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_201 { 
	width:803px;
	height:139px;
	position:absolute;
	left:17px;
	top:761px;
}
.e19_202 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:628px;
	height:79px;
	position:absolute;
	left:97px;
	top:51px;
}
.e19_203 { 
	color:rgba(144.14585798978806, 144.14585798978806, 144.14585798978806, 1);
	width:83px;
	height:22px;
	position:absolute;
	left:642px;
	top:20px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_204 { 
	color:rgba(95.96812158823013, 93.9687828719616, 93.9687828719616, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:97px;
	top:20px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_205 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:56px;
	height:33px;
	position:absolute;
	left:734px;
	top:97px;
}
.e19_205 { 
	border:1px solid rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
}
.e19_206 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:747px;
	top:105px;
	font-family:Amaranth;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e19_207 { 
	width:803px;
	height:139px;
	position:absolute;
	left:17px;
	top:900px;
}
.e19_208 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:628px;
	height:79px;
	position:absolute;
	left:97px;
	top:51px;
}
.e19_209 { 
	color:rgba(144.14585798978806, 144.14585798978806, 144.14585798978806, 1);
	width:83px;
	height:22px;
	position:absolute;
	left:642px;
	top:20px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_210 { 
	color:rgba(95.96812158823013, 93.9687828719616, 93.9687828719616, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:97px;
	top:20px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_211 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:56px;
	height:33px;
	position:absolute;
	left:734px;
	top:97px;
}
.e19_211 { 
	border:1px solid rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
}
.e19_212 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:747px;
	top:105px;
	font-family:Amaranth;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e19_213 { 
	width:803px;
	height:139px;
	position:absolute;
	left:17px;
	top:1039px;
}
.e19_214 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:628px;
	height:79px;
	position:absolute;
	left:97px;
	top:51px;
}
.e19_215 { 
	color:rgba(144.14585798978806, 144.14585798978806, 144.14585798978806, 1);
	width:83px;
	height:22px;
	position:absolute;
	left:642px;
	top:20px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_216 { 
	color:rgba(95.96812158823013, 93.9687828719616, 93.9687828719616, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:97px;
	top:20px;
	font-family:Amaranth;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e19_217 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:56px;
	height:33px;
	position:absolute;
	left:734px;
	top:97px;
}
.e19_217 { 
	border:1px solid rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
}
.e19_218 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:747px;
	top:105px;
	font-family:Amaranth;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
