.e2_2 { 
	background-image:linear-gradient(0deg, rgba(33.00000183284283, 33.00000183284283, 35.00000171363354, 1) 100%,rgba(33.00000183284283, 33.00000183284283, 35.00000171363354, 0.510869562625885) 0.625%,rgba(33.00000183284283, 33.00000183284283, 35.00000171363354, 0.03999999910593033) 0%) ;
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:100%;
	height:3000px;
	position:absolute;
}
.e2_3 { 
	background-color:rgb(0, 0, 0);
	width:100%;
	height:1500px;
	position:absolute;
}
.e2_4 { 
	
	width:100%;
	height:1500px;
	position:absolute;
	display: flex;
    width: 300%; /* 3개의 이미지를 표시하기 위해 전체 너비의 3배로 설정 */
    transition: transform 0.5s ease-in-out;
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_4_1{
	flex: 0 0 33.33%; /* 각 이미지의 너비를 33.33%로 설정 (3개의 이미지가 보이도록) */
	
}

.e2_5 { 
	width:100%;
	height:109px;
	position:absolute;
}
.e2_6 { 
	color:rgba(255, 255, 255, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:43px;
	top:24px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_8 { 
	width:659px;
	height:45px;
	position:absolute;
	left:70%;
	top:15px;
}
.ad_1 { 
   color:rgba(255, 255, 255, 1);
   width:110px;
   height:24px;
   position:absolute;
   left:-260px;
   top:10px;
   font-family:Alumni Sans Collegiate One;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.ad_2 { 
   color:rgba(255, 255, 255, 1);
   width:100px;
   height:24px;
   position:absolute;
   left:-120px;
   top:10px;
   font-family:Alumni Sans Collegiate One;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_11 { 
   color:rgba(255, 255, 255, 1);
   width:70px;
   height:24px;
   position:absolute;
   
   top:10px;
   font-family:Alumni Sans Collegiate One;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_12 { 
   color:rgba(255, 255, 255, 1);
   width:70px;
   height:24px;
   position:absolute;
   left:95px;
   top:10px;
   font-family:Alumni Sans Collegiate One;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_13 { 
   color:rgba(255, 255, 255, 1);
   width:70px;
   height:24px;
   position:absolute;
   left:174px;
   top:10px;
   font-family:Alumni Sans Collegiate One;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_14 { 
   color:rgba(255, 255, 255, 1);
   width:100px;
   height:24px;
   position:absolute;
   left:270px;
   top:10px;
   font-family:Alumni Sans Collegiate One;
   text-align:left;
   font-size:20px;
   letter-spacing:0;
}
.e2_22 { 
   border-radius:500px;
   color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
   width:49px;
   height:30px;
   position:absolute;
   left:600px;
   top:4px;
   font-family:Font Awesome 5 Free;
   text-align:center;
   font-size:26px;
   font-weight: lighter;
}
.e2_23 { 
   border-radius:500px;
   color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
   width:49px;
   height:30px;
   position:absolute;
   left:520px;
   top:4px;
   font-family:Font Awesome 5 Free;
   text-align:center;
   font-size:26px;
}
.e2_24 { 
   border-radius:500px;
   color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
   width:120px;
   height:30px;
   position:absolute;
   left:385px;
   top:10px;
   font-family:Font Awesome 5 Free;
   text-align:center;
   font-size:20px;
}
.e3_172 { 
	width:700px;
	height:59px;
	position:absolute;
	left:25%;
	top:6px;
}
.e2_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:700px;
	height:33px;
	position:absolute;
	left:15px;
	top:15px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.e3_171 { 
	width:28px;
	height:23px;
	position:absolute;
	left:95%;
	top:15px;
}
.e2_26 { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:77px;
	position:absolute;
	left:135px;
	top:258px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e2_26_1 { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:77px;
	position:absolute;
	left:36%;
	top:258px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e2_26_2 { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:77px;
	position:absolute;
	left:70%;
	top:258px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e2_27 { 
	color:rgba(255, 255, 255, 1);
	width:547px;
	height:43px;
	position:absolute;
	left:135px;
	top:341px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_27_1 { 
	color:rgba(255, 255, 255, 1);
	width:547px;
	height:43px;
	position:absolute;
	left:36%;
	top:341px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e2_27_2 { 
	color:rgba(255, 255, 255, 1);
	width:547px;
	height:43px;
	position:absolute;
	left:70%;
	top:341px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e1_2 { 
	background-image:linear-gradient(0deg, rgba(216.75000607967377, 29.803125075995922, 29.803125075995922, 1) 0%,rgba(0, 0, 0, 0) 100%) ;
	width:1471px;
	height:2625px;
	position:absolute;
}
.e1_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1471px;
	height:946px;
	position:absolute;
	left:735px;
	top:1306px;
}
.e12_5 { 
	width:1471px;
	height:946px;
	position:absolute;
	left:0px;
	top:3px;
	background-image:url(images/12_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_4 { 
	opacity:0.8999999761581421;
	width:1471px;
	height:946px;
	position:absolute;
	left:0px;
	top:6px;
	background-image:url(images/rimg1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_5 { 
	width:1471px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_6 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:25px;
	position:absolute;
	left:43px;
	top:24px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1_7 { 
	width:659px;
	height:45px;
	position:absolute;
	left:822px;
	top:15px;
}
.e1_8 { 
	color:rgba(255, 255, 255, 1);
	width:38px;
	height:24px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_9 { 
	color:rgba(255, 255, 255, 1);
	width:38px;
	height:24px;
	position:absolute;
	left:117px;
	top:10px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_10 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:24px;
	position:absolute;
	left:214px;
	top:10px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_11 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:24px;
	position:absolute;
	left:311px;
	top:10px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_12 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:49px;
	height:30px;
	position:absolute;
	left:428px;
	top:4px;
}
.e1_13 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:49px;
	height:30px;
	position:absolute;
	left:497px;
	top:4px;
}
.e1_14 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:49px;
	height:30px;
	position:absolute;
	left:566px;
	top:4px;
}
.e1_15 { 
	width:567px;
	height:59px;
	position:absolute;
	left:228px;
	top:6px;
}
.e1_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:540px;
	height:33px;
	position:absolute;
	left:15px;
	top:15px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e1_16 { 
	border:1px solid rgba(189.12500202655792, 189.12500202655792, 189.12500202655792, 1);
}
.e1_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:28px;
	height:23px;
	position:absolute;
	left:507px;
	top:20px;
}
.e1_18 { 
	color:rgba(255, 255, 255, 1);
	width:363px;
	height:77px;
	position:absolute;
	left:135px;
	top:258px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e1_19 { 
	color:rgba(255, 255, 255, 1);
	width:547px;
	height:43px;
	position:absolute;
	left:135px;
	top:341px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e1_20 { 
	width:250px;
	height:347px;
	position:absolute;
	left:248px;
	top:599px;
}
.e1_21 { 
	width:227px;
	height:347px;
	position:absolute;
	left:248px;
	top:599px;
}
.e1_22 { 
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:1640px;
	position:absolute;
	left:15%;
	top:80%;
}
.e1_23 { 
	width:973px;
	height:422px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_24 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:43px;
	position:absolute;
	left:26px;
	top:24px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e1_25 { 
	width:973px;
	height:347px;
	position:absolute;
	left:0px;
	top:63px;
}
.e1_34 { 
	width:240px;
	height:348px;
	position:absolute;
	left:249px;
	top:62px;
}
.e1_35 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_36 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_37 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:14px;
	top:279px;
}
.e1_38 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:285px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e1_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:277px;
}
.e1_40 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:287px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e1_41 { 
	width:240px;
	height:348px;
	position:absolute;
	left:729px;
	top:62px;
}
.e1_42 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_43 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_44 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:14px;
	top:279px;
}
.e1_45 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:285px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e1_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:277px;
}
.e1_47 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:287px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e1_48 { 
	width:240px;
	height:348px;
	position:absolute;
	left:489px;
	top:62px;
}
.e1_49 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_50 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e1_51 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:14px;
	top:279px;
}
.e1_52 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:285px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e1_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:277px;
}
.e1_54 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:287px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_2 { 
	width:240px;
	height:348px;
	position:absolute;
	left:9px;
	top:62px;
}
.e6_3 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_4 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e6_5 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:14px;
	top:279px;
}
.e6_6 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:285px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:277px;
}
.e6_8 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:287px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}

.e56_145{
	width: 158px;
	height: 50px;
	position: absolute;
	left: 85%;
	top: 120px;
}

.e56_145 a {
	color: rgb(0, 0, 0);
    text-decoration: none;
}

.e8_2 { 
	color: rgba(0, 0, 0, 1);
	width: 100%;
	height: 18px;
	position: absolute;
	left: 37px;
	top: 7px;
	font-family: Alumni Sans Collegiate One;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
	
}
.e8_3 { 
	color: rgba(0, 0, 0, 1);
	width: 100%;
	height: 18px;
	position: absolute;
	left: 93px;
	top: 7px;
	font-family: Alumni Sans Collegiate One;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}
.e7_248 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:482px;
	top:1571px;
}
.e7_398 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:541px;
	top:1571px;
}
.e7_397 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:423px;
	top:1571px;
}
.e7_249 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:588px;
	top:1578px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e8_482 { 
	width:973px;
	height:350px;
	position:absolute;
	left:0px;
	top:423px;
}
.e8_483 { 
	width:240px;
	height:348px;
	position:absolute;
	left:9px;
	top:-3px;
}
.e8_484 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_485 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_486 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_487 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_488 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_489 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_491 { 
	width:240px;
	height:348px;
	position:absolute;
	left:249px;
	top:-3px;
}
.e8_492 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_493 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_494 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_495 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_496 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_497 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_499 { 
	width:240px;
	height:348px;
	position:absolute;
	left:489px;
	top:-3px;
}
.e8_500 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_501 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_502 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_503 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_504 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_505 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_507 { 
	width:240px;
	height:348px;
	position:absolute;
	left:729px;
	top:-3px;
}
.e8_508 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_509 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_510 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_511 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_512 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_513 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_515 { 
	width:973px;
	height:350px;
	position:absolute;
	left:0px;
	top:773px;
}
.e8_516 { 
	width:240px;
	height:348px;
	position:absolute;
	left:9px;
	top:-3px;
}
.e8_517 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_518 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_519 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_520 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_521 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_522 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_524 { 
	width:240px;
	height:348px;
	position:absolute;
	left:249px;
	top:-3px;
}
.e8_525 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_526 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_527 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_528 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_529 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_530 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_532 { 
	width:240px;
	height:348px;
	position:absolute;
	left:489px;
	top:-3px;
}
.e8_533 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_534 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_535 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_536 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_537 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_538 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_540 { 
	width:240px;
	height:348px;
	position:absolute;
	left:729px;
	top:-3px;
}
.e8_541 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_542 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_543 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_544 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_545 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_546 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_548 { 
	width:973px;
	height:350px;
	position:absolute;
	left:0px;
	top:1123px;
}
.e8_549 { 
	width:240px;
	height:348px;
	position:absolute;
	left:9px;
	top:-3px;
}
.e8_550 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_551 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_552 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_553 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_554 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_555 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_557 { 
	width:240px;
	height:348px;
	position:absolute;
	left:249px;
	top:-3px;
}
.e8_558 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_559 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_560 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_561 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_562 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_563 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_565 { 
	width:240px;
	height:348px;
	position:absolute;
	left:489px;
	top:-3px;
}
.e8_566 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_567 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_568 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_569 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_570 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_571 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_573 { 
	width:240px;
	height:348px;
	position:absolute;
	left:729px;
	top:-3px;
}
.e8_574 { 
	width:220px;
	height:130px;
	position:absolute;
	left:10px;
	top:76px;
	background-image:url(images/rimg1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_575 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:54px;
	position:absolute;
	left:10px;
	top:217px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_576 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:14px;
	top:258px;
}
.e8_577 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:45px;
	top:263px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e8_578 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:26px;
	position:absolute;
	left:150px;
	top:258px;
}
.e8_579 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:17px;
	position:absolute;
	left:183px;
	top:263px;
	font-family:Almarai;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e1_132 { 
	background-color:rgba(75.43749645352364, 74.80885058641434, 74.80885058641434, 1);
	width:100%;
	height:135px;
	position:absolute;
	top:2875px;
}
.e1_133 { 
	color:rgba(255, 255, 255, 1);
	width:378px;
	height:52px;
	position:absolute;
	left:481px;
	top:56px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e56_22 {

	width: 80%;
	height: 1770px;
	position: absolute;
	left: 10%;
	margin-top: 30px;
}

.e56_23 {
	width: 100%;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* 5개의 열을 동일한 너비로 만듭니다. */
	grid-template-rows: repeat(5, 1fr); /* 4행 그리드 */
	gap: 30px;
	/* 열 사이의 간격을 설정합니다. */
}

.e56_24 {
	width: 320px;
	height: 300px;
	position: relative;
	grid-row: span 1; /* 그리드 아이템의 높이를 2개의 그리드 행에 걸쳐 확장 */

}

.e56_25 {
	width: 310px;
	height: 200px;
	position: absolute;
	left: 10px;
	top: -25px;
	
	background-repeat: no-repeat;
	background-size: cover;
}

.e56_26 {
	color: rgba(0, 0, 0, 1);
	width: 310px;
	height: 54px;
	position: absolute;
	left: 10px;
	top: 187px;
	font-family: Alumni Sans Collegiate One;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0;
}

.e56_27 {
	border-radius: 500px;
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 25px;
	height: 24px;
	position: absolute;
	left: 14px;
	top: 250px;
}

.e56_28 {
	color: rgba(0, 0, 0, 1);
	width: 100%;
	height: 18px;
	position: absolute;
	left: 45px;
	top: 253px;
	font-family: Alumni Sans Collegiate One;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e56_34 {

	width: 27px;
	height: 26px;
	position: absolute;
	left: 140px;
	top: 250px;
}

.e56_35 {
	color: rgba(0, 0, 0, 1);
	width: 27px;
	height: 17px;
	position: absolute;
	left: 170px;
	top: 253px;
	font-family: Almarai;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}

.e56_36 {

	width: 27px;
	height: 26px;
	position: absolute;
	left: 240px;
	top: 250px;
}

.e56_37 {
	color: rgba(0, 0, 0, 1);
	width: 27px;
	height: 17px;
	position: absolute;
	left: 270px;
	top: 253px;
	font-family: Almarai;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
}


.pagination {
	width: 100%;
	height: 92px;
	position: absolute;
	left: 50%;
	top: 1500px;
	font-size: 20px;
}

.pagination a {
	color: rgb(0, 0, 0);
    text-decoration: none;
}
body {
    overflow-x: hidden; /* 가로 스크롤바 숨기기 */
}

html, body {
    margin: 0;
    padding: 0;
}

.searchicon { 
	color: rgb(33.00000183284283, 33.00000183284283, 35.00000171363354, 1);
	max-width: 25px;
	max-height: 25px;

	top: 0%;

	font-family:Font Awesome 5 Free;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.search_txt{
	position: relative;

	left: 5%;
	width: 600px;
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
	float: left;
	font-size: 1rem;
	line-height: 30px;
}
.search_btn{
	width: 25px;
	height: 25px;
	top: 0%;
	border: none;
	background-color: white;
}

a {
   color: cornsilk;
    text-decoration: none;
}