<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>모두의 레시피 게시판</title>
	<style type="text/css">

	</style>
	<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/background.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/board.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class=e2_2>
		<div class=e2_3>
			<div class="e2_4">
				<div class="e2_4_1">
					<img src="img/레시피.jpg" style="width: 100%; height: 100%;">
					<div class="t"><span class="e2_26">모두의 레시피 </span><span class="e2_27">쉽고 간편하게 레시피를 공유해보세요</span>
					</div>
				</div>
			</div>
		</div>
		<div class=e2_5><span class="e2_6"><a class="mainicon" href="/">모두의 레시피</a></span>
			<div class=e2_8>
			<span th:if="${session.loggedInNickname == '관리자'}" class="ad_1"><a href="/reviewRecipes">레시피 검토</a></span>
			<span th:if="${session.loggedInNickname == '관리자'}" class="ad_2"><a href="/user">회원 관리</a></span>
			<span class="e2_11"><a href="/recipe">레시피</a></span>
			<span class="e2_12"><a href="/rank">랭킹</a></span>
			<span class="e2_13"><a href="/board">게시판</a></span>
			<span class="e2_14"><a href="/mypage">마이페이지</a></span>	
				<div class="e2_22"><a href="/alarm" style="width:30px; height:30px;"><i th:if="${session.alarm != 1}" class="fas fa-bell"
							style="width:30px; height:30px;"></i>
							<i th:if="${session.alarm == 1}" class="fas fa-bell"
							style="width:30px; height:30px; color: red;"></i></a></div>
				<div class="e2_23"><a href="/createRecipe"><i class="fas fa-pencil-alt"></i></a></div>
				
				<div th:if="${session.loggedInNickname != null}" class="e2_24"><a href="/logout">로그아웃</a></div>
				<div th:if="${session.loggedInNickname == null}" class="e2_24"><a href="/logout">로그인</a></div>
			</div>
			<div class=e3_172>
				<form action="/search" method="get"> <!-- 검색창 주소 입력 -->
					<div class="e2_7"><input type="text" name="keyword" class="search_txt" required></div>
					<div class="e3_171">
						<button type="submit" class="search_btn">
							<span class="searchicon">
								<i class="fa-solid fa-magnifying-glass" style="max-width:25px; max-height:25px;"></i>
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div th:if="${session.loggedInNickname == '관리자'}" class="confirm_btn">
        	<a href="/reviewRecipes">
            	<button>레시피 검토</button>
        	</a>
    	</div>

		<div th:if="${session.loggedInNickname == '관리자'}" class="user_btn">
		    <a href="/user">
        		<button>회원 관리</button>
        	</a>
    	</div>
      
      <!-- 여기부터 body에 추가할 코드 입력 -->
		<div class=e2_28 th:if="${!boardList.isEmpty()}">
			<h1>게시판</h1>
          <table class="table">
            <thead>
               <tr>
                    <th style="width: 50px;">번호</th>
                  <th style="width: 300px;">제목</th>
                  <th style="width: 100px;">작성자</th>
                  <th style="width: 100px;">작성일</th>
               </tr>
            </thead>
            <tbody>
              <tr th:each="board : ${boardList}">
	               <td th:if="${board.nickname != '관리자'}" style=text-align:center; th:text="${board.postId}"></td>
	               <td th:if="${board.nickname == '관리자'}" style="text-align: center; color: red; font-size:18px">공지</td>
	               <td th:if="${board.nickname != '관리자'}">
		                <a th:href="@{'/board/' + ${board.postId}}" style="color: black;">
		                    <span th:text="${board.title}"></span>
		                </a>
				   </td>
				   <td th:if="${board.nickname == '관리자'}">
		                <a th:href="@{'/board/' + ${board.postId}}" style="color: black;">
		                    <span th:text="${board.title}" style="color:red; font-size:18px"></span>
		                </a>
				   </td>
              	   <td th:if="${board.nickname != '관리자'}" style=text-align:center;>
		               <a th:href="@{'/userpage_R/' + ${board.nickname}}" style="color: black;">
		                   <span th:text="${board.nickname}"></span>
		               </a>
           		   </td>
           		    <td th:if="${board.nickname == '관리자'}" style=text-align:center;>
		                   <span th:text="${board.nickname}" style="color:red; font-size:18px"></span>
		               </a>
           		   </td>
                   <td th:if="${board.nickname != '관리자'}" style=text-align:center; >
		                <p th:if="${#temporals.format(board.created_date, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
		                   th:text="${#temporals.format(board.created_date, 'HH:mm')}"></p>
		                <p th:if="${#temporals.format(board.created_date, 'yyyy-MM-dd') != #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
		                   th:text="${#temporals.format(board.created_date, 'MM-dd')}"></p>
		           </td>
		            <td th:if="${board.nickname == '관리자'}" style=text-align:center; >
		                <p th:if="${#temporals.format(board.created_date, 'yyyy-MM-dd') == #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
		                   th:text="${#temporals.format(board.created_date, 'HH:mm')}" style="color:red; font-size:18px"></p>
		                <p th:if="${#temporals.format(board.created_date, 'yyyy-MM-dd') != #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}"
		                   th:text="${#temporals.format(board.created_date, 'MM-dd')}" style="color:red; font-size:18px"></p>
		           </td>
              </tr>
               
            </tbody>    
         </table>
         <hr>


<div class="searchbar">
    <div class="searchradius">
        <form th:action="@{/board}" method="get" class="search-form">
            <div class="search-left">
                <label for="searchBy" class="search-label"></label>
                <select name="searchBy" id="searchBy" class="search-select">
                    <option value="title">제목</option>
                    <option value="nickname">작성자</option>
                </select>
            </div>
            <div class="search-right">
                <input type="text" th:value="${keyword}" name="keyword" class="search_txt" placeholder="검색어를 입력하세요" required>
                <button type="submit" class="search_btn_a">
                    <span class="searchicon_a">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
         <div class="button-container">
         <a href="/createboard" class="button">글쓰기</a>
         </div>
         <div class="text-center">
            <div class="pagination">
    <a th:if="${currentPage > firstPage}" th:href="@{|/board?page=${currentPage - 1}&searchBy=${searchBy}&keyword=${keyword}|}" style="color: black;">&laquo; 이전</a>
    <span th:each="pageNumber : ${#numbers.sequence(currentPage - 5, currentPage + 4)}" th:if="${pageNumber >= firstPage && pageNumber <= lastPage}">
	    <a th:href="@{|/board?page=${pageNumber}&searchBy=${searchBy}&keyword=${keyword == null ? '' : keyword}|}"
	       th:class="${pageNumber == currentPage ? 'active' : ''}" th:text="${pageNumber + 1}" style="color: black;"></a>
	</span>
    <a th:if="${currentPage < lastPage}" th:href="@{|/board?page=${currentPage + 1}&searchBy=${searchBy}&keyword=${keyword == null ? '' : keyword}|}" style="color: black;">&raquo; 다음</a>
</div>
<script th:src="@{/../js/rank.js}"></script>
         </div>
   </div>
   </div>
		</div>
    
		</div>
		<div class=e3_173><span class="e3_175">2023 yuhan University</span></div>
	</div>
	   <script th:inline="javascript">
           var boarddeleteMessage = /*[[${boarddeleteMessage}]]*/ "";
           if (boarddeleteMessage) {
               alert(boarddeleteMessage);
           }
    </script>
</body>
</html>
