<!-- create.html -->
<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>모두의레시피</title>
	<style type="text/css">
	</style>

	<script th:src="@{/../static/js/createrecipe.js}"></script>
	<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/createRecipe.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<script>
		function handleClick(event) {
			event.preventDefault(); // 폼 제출 막기
			// 원하는 작업 수행
			console.log("Button clicked, but form submission prevented.");
		}
	</script>
</head>

<body>

	<div class="body_wrapper">
		<div class="body_content">
			<div class="menubar"></div>
			<span class="menu4"><a href="/mypage">마이페이지</a></span>
			<span class="menu3"><a href="/board">게시판</a></span>
			<span class="menu2"><a href="/recipe">분류</a></span>
			<span class="menu1"><a href="/rank">랭킹</a></span>
			<span><a class="mainicon" href="/">모두의레시피</a></span>


			<!-- 마이페이지 주소 입력 -->
			<div class="alarm-icon"><a href="/alarm"><i class="fas fa-bell"></i></a></div>
			<div class="write-icon"><a href="/createRecipe"><i class="fas fa-pencil-alt"></i></a></div>
			<div class="usericon"><a href="/mypage"><i class="fa-solid fa-user"></i></a></div>
			<!-- 로그아웃 주소 입력 -->
			<div class="logout_icon"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></div>
			<div class="searchbar">
				<div class="searchradius">
					<form action="/search" method="get"> <!-- 검색창 주소 입력 -->
						<input type="text" name="keyword" class="search_txt" required>
						<button type="submit" class="search_btn">
							<span class="searchicon">
								<i class="fa-solid fa-magnifying-glass"></i>
							</span>
						</button>
					</form>
				</div>
			</div>
			
			<div th:if="${session.loggedInNickname == '관리자'}" class="confirm_btn">
        	<a href="/reviewRecipes">
            	<button>레시피 검토</button>
        	</a>
    	</div>

		<div th:if="${session.loggedInNickname == '관리자'}" class="user_btn">
		    <a href="/user">
        		<button>회원 관리</button>
        	</a>
    	</div>
			<!-- 여기부터 body에 추가할 코드 입력 -->

			<div class="slide_wrapper">
				<form action="/createRecipe" method="post" enctype="multipart/form-data">
					<div class=e10_2>
						<span class="e16_84">레시피</span>
						<div class=e10_3>
							<span class="e10_7">레시피제목</span>
							<span class="e10_8">요리 소개</span>
							<span class="e10_10"><textarea name="title"></textarea></span>
							<span class="e10_11"><textarea name="recipesubtxt"></textarea></span>
						</div>
						<div class=e10_4>
							<span class="e10_15">
								<input multiple type="file" id="file" name="file" style="display: none;">
								<button id="uploadButton" name="uploadButton" onclick="handleClick(event)">
									<div id="preview" name="preview" width="400px" height="400px">
										<img src="/img/대표이미지.PNG?timestamp=<%= System.currentTimeMillis() %>"
											width="400px" height="400px">
									</div>
								</button>
							</span>
						</div>
						<div class=e10_5>
							<span class="e10_9">카테고리</span>
							<span class="e10_13">
								<select id="categoryName" name="category_name" class="cn">
									<option value="파티">파티용</option>
									<option value="혼밥">혼밥용</option>
									<option value="피크닉">피크닉용</option>
									<option value="가정">가정용</option>
									<option value="디저트">디저트용</option>
									<option value="야식/안주">야식/안주용</option>
								</select>

							</span>
							<span class="e10_8">태그</span>
							<span class="e10_11">
								<div class="text-container">
									<ul id="textList"></ul>
									<input type="text" id="textInput" placeholder="태그를 입력하세요"
										onkeydown="handleInput(event)"><br>*태그 입력 후 엔터를 눌러주세요*
								</div>
						</div>
					</div>
					<div class="e10_2_1">
						<span class="e16_84">재료</span>
						<div id="container">
							<button id="addButton" onclick="handleClick(event)" width="150px" height="50px"
								cursor="pointer">재료 추가</button>
							<div class='textRow' id="t1">
								<input type="text" class='text1' name="ingredientName" placeholder="예 ) 간 장">
								<input type="text" class='text1' name="mensuration" placeholder="예 ) 한 큰 술">
								<input type="button" id="removebutton" class="remove-button" value="삭제">
							</div>
							<div class='textRow' id="t2">
								<input type="text" class='text1' name="ingredientName" placeholder="예 ) 우 유">
								<input type="text" class='text1' name="mensuration" placeholder="예 ) 5 0 0 ml">
								<input type="button" id="removebutton1" class="remove-button" value="삭제">
							</div>
							<div class='textRow' id="t3">
								<input type="text" class='text1' name="ingredientName" placeholder="예 ) 감 자">
								<input type="text" class='text1' name="mensuration" placeholder="예 ) 3 개">
								<input type="button" id="removebutton2" class="remove-button" value="삭제">
							</div>
						</div>


						<span class="e12_5_1">재료가 남거나 부족하지 않도록 정확한 계량정보를 적어주세요.</span>
						<span class="e16_84">요리순서</span>
						<span class="e12_5">요리의 맛이 좌우될 수 있는 중요한 부분은 빠짐없이 적어주세요.</span>
						<div id="container1">
							<button id="addButton1" onclick="handleClick(event)" width="150px" height="50px"
								cursor="pointer">스텝 추가</button>
							<div class='textRow1' id="r1">
								<label class="step">STEP 1</label><br>
								<textarea class='text2' name="SContent" placeholder='예 ) 김치 반 포기를 잘게 썰어주세요.'></textarea>
								<input multiple type="file" id="file1" name="file1" style="display: none;">
								<button id="uploadButton1" name="uploadButton1"
									onclick="handleClick(event); handleUploadClick(1)">
									<div id="preview1" name="preview1">
										<img src="/img/대표이미지.PNG" width="200px" height="200px">
									</div>
								</button>
								<input type="button" class="remove-button1" onclick="removeStep1('r1')" value="삭제"><br>
								<img src="/img/carrot.png" class="carrot">
								<input type="text" class="text3" name="Singtxt"
									placeholder="재료에 대해 적어주세요! 예 ) 감자 1개, 소금 2큰술, 물 2컵"><br>
								<img src="/img/냄비.png" class="carrot">
								<input type="text" class="text3" name="Stooltxt"
									placeholder="재료도구에 대해 적어주세요! 예 ) 냄비, 프라이팬, 국자"><br>
								<img src="/img/불.png" class="carrot">
								<input type="text" class="text3" name="Scontroltxt"
									placeholder="불 세기나 도구 사용시간에 대해 적어주세요! 예 ) 약불, 전자레인지 2분"><br>
								<img src="/img/전구.png" class="carrot1">
								<textarea class="text4" name="Stip"
									placeholder="팁이 있다면 적어주세요! 예 ) 삶은 감자를 2분 정도 식혀주세요"></textarea>
							</div>
						</div>
					
					
						
						<br>
						<input type="submit" class="Rsubmit" value="게시">
					</div>
				</form>
			</div>


			<script th:src="@{/../js/main.js}"></script>
			<script th:src="@{/../js/createrecipe.js}"></script>

		</div>
		<div class="footer">
			<div class="footer_comment">@Yuhan University Group 3's Project</div>
		</div>

</body>

</html>