<!-- create.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Recipe</title>
</head>
<body>
    <h1>Create New Recipe</h1>
    <form th:action="@{/createRecipe}" th:object="${recipe}" method="post">
        <label>Recipe ID: <input type="text" th:field="*{recipe_id}" /></label><br/>
        <label>Title: <input type="text" th:field="*{title}" /></label><br/>
        <label>Main Photo: <input type="text" th:field="*{main_photo}" /></label><br/>
        <label>Created Date: <input type="date" th:field="*{created_date}" /></label><br/>
        <label>User ID: <input type="text" th:field="*{user_id}" /></label><br/>
        <input type="submit" value="Create" />
    </form>
</body>
</html>
