<!-- create.html -->
<!DOCTYPE html>
<html>
<head>

    <meta content="text/html; charset=euc-kr">
<title>모두의레시피</title>
<style type="text/css">   
</style>
<script src="/src/main/resources/static/js/userRecipe.js"></script>
<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/../css/createRecipe.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <div class="body_wrapper">
   <div class="body_content">
      <div class="menubar"></div>
        <span class="menu4"><a href="recipe">분류</a></span>
		<span class="menu3"><a href="rank">랭크</a></span>
		<span class="menu2"><a href="board">게시판</a></span>
		<span class="menu1"><a href="rank">랭킹</a></span>
		<span><a class="mainicon" href="/">모두의레시피</a></span>
      
      <!-- 마이페이지 주소 입력 --> 
      <div class="usericon"><a href="마이페이지.html"><i class="fa-solid fa-user"></i></a></div>
      <!-- 로그아웃 주소 입력 --> 
      <div class="logout_icon"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></div>
       <div class="searchbar">   
         <div class="searchradius">
            <form action="" method=""> <!-- 검색창 주소 입력 --> 
               <input type="text" class="search_txt">
               <button type="submit" class="search_btn">
                  <span class="searchicon">
                     <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
               </button>
            </form>
         </div>   
      </div>
      <!-- 여기부터 body에 추가할 코드 입력 -->
        
    	<div class="slide_wrapper">
			<div class="createRecipe_zone_1">
				<div class="createRecipe_zone_2">
					<h2>레시피제목</h2><h2>레시피제목</h2>
					<h2>레시피제목</h2><h2>레시피제목</h2>
					<h2>레시피제목</h2>
					
				</div>
				<div class="createRecipe_zone_3">
				</div>
				<div class="createRecipe_category">
				
			</div>
			</div>
			
        </div>
       
   
   <script th:src="@{/../js/main.js}"></script>
   
</div>
<div class="footer">
			<div class="footer_comment">@Yuhan University Group 3's Project</div>
	</div>
</body>
</html>
