<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/../css/findIdPs.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
	<div class="body_wrapper">
		<div class="mainicon_wrapper">
			<a class="mainicon" href="/">모두의레시피</a>
		</div>
		<div class="findid_wrapper">
		    <h2>아이디 찾기</h2>
			<div class="findid_form">
			    <form th:action="@{/findid}" method="post">
			        <label for="email">이메일</label><br>
			        <input type="email" id="email" name="email" required><br>
			        
			        <button type="submit">인증하기</button>
			    </form>
		    </div><hr>
		    <table>
				<tr>
				     <td><p><a href="/login">로그인&nbsp; / </a></p></td>
				     <td><p><a href="/findps">&nbsp;비밀번호 찾기&nbsp; / </a></p></td>
				     <td><p><a href="/signup">&nbsp;회원가입</a></p></td>
			     </tr>
		    </table>
		</div>
    </div>
     <script th:inline="javascript">
        var errorMessage = /*[[${errorMessage}]]*/ "";
        if (errorMessage) {
            alert(errorMessage);
        }
    </script>
</body>
</html>
