<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>모두의레시피</title>
	<style type="text/css">

	</style>
	<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/style3.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class=e2_2>
		<div class=e2_3>
			<div class="e2_4"></div>
			<div class=e2_5><span class="e2_6"><a class="mainicon" href="/1">모두의 레시피</a></span>
				<div class=e2_8><span class="e2_11"><a href="/recipe">분류</a></span><span class="e2_12"><a
							href="/rank">랭킹</a></span><span class="e2_13"><a href="/board">게시판</a></span><span
						class="e2_14"><a href="/mypage">마이페이지</a></span>
					<div class="e2_22"><a href="/alarm" style="width:30px; height:30px;"><i class="fas fa-bell" style="width:30px; height:30px;"></i></a></div>
					<div class="e2_23"><a href="/createRecipe"><i class="fas fa-pencil-alt"></i></a></div>
					<div class="e2_24"><a href="/logout"><i class="fas fa-sign-in-alt"></i></a></div>
				</div>
				<div class=e3_172>
					<form action="/search" method="get"> <!-- 검색창 주소 입력 -->
					<div class="e2_7"><input type="text" name="keyword" class="search_txt" required></div>
					<div class="e3_171">
						<button type="submit" class="search_btn">
							<span class="searchicon">
								<i class="fa-solid fa-magnifying-glass" style="max-width:25px; max-height:25px;"></i>
							</span>
						</button>
					</div>
					</form>
				</div>
			</div><span class="e2_26">모두의 레시피 </span><span class="e2_27">쉽고 간편하게 레시피를 공유해보세요</span>
		</div>
		<div class=e2_28>
			
			
			
			
			
			<div class=e1_22>
  <div class=e1_23><span  class="e1_24">오늘의 추천 메뉴</span>
    <div class=e1_25>
      <div class=e1_26><span  class="e1_28">레시피 제목</span>
        <div class="e1_29"></div><span  class="e1_30">작성자</span>
        <div class="e1_138"></div>
        <div class="e1_32"></div><span  class="e1_33">좋아요</span>
        <div class="e1_142"></div><span  class="e1_143">조회수</span>
      </div>
      <div class=e1_173><span  class="e1_174">레시피 제목</span>
        <div class="e1_175"></div><span  class="e1_176">작성자</span>
        <div class="e1_177"></div>
        <div class="e1_178"></div><span  class="e1_179">좋아요</span>
        <div class="e1_180"></div><span  class="e1_181">조회수</span>
      </div>
      <div class=e1_182><span  class="e1_183">레시피 제목</span>
        <div class="e1_184"></div><span  class="e1_185">작성자</span>
        <div class="e1_186"></div>
        <div class="e1_187"></div><span  class="e1_188">좋아요</span>
        <div class="e1_189"></div><span  class="e1_190">조회수</span>
      </div>
      <div class=e1_164><span  class="e1_165">레시피 제목</span>
        <div class="e1_166"></div><span  class="e1_167">작성자</span>
        <div class="e1_168"></div>
        <div class="e1_169"></div><span  class="e1_170">좋아요</span>
        <div class="e1_171"></div><span  class="e1_172">조회수</span>
      </div>
    </div>
  </div>
  <div class=e1_117><span  class="e1_118">유저 랭킹</span>
    <div class=e1_120>
      <div class="e1_121"></div><span  class="e1_137">닉네임</span>
    </div>
    <div class=e1_123>
      <div class="e1_124"></div><span  class="e1_136">닉네임</span>
    </div>
    <div class=e1_126>
      <div class="e1_127"></div><span  class="e1_135">닉네임</span>
    </div>
    <div class=e1_129>
      <div class="e1_130"></div><span  class="e1_131">닉네임</span>
    </div>
  </div>
</div>
		
		
		
		
		
			
			
		</div>
		<div class=e3_173><span class="e3_175">2023 yuhan University</span></div>
	</div>
	<script th:inline="javascript">
		var sendMessage = /*[[${errorMessage}]]*/ "";
		if (sendMessage) {
			alert(sendMessage);
		}
	</script>
</body>

</html>