<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=euc-kr">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>모두의레시피</title>
<style type="text/css">

</style>
<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/../css/style3.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body>
<div class=e2_2>
  <div class=e2_3>
    <div class="e2_4"></div>
    <div class=e2_5><span  class="e2_6">모두의 레시피</span>
      <div class=e2_8><span  class="e2_11">분류</span><span  class="e2_12">랭킹</span><span  class="e2_13">게시판</span><span  class="e2_14">마이페이지</span>
        <div class="e2_22"></div>
        <div class="e2_23"></div>
        <div class="e2_24"></div>
      </div>
      <div class=e3_172>
        <div class="e2_7"></div>
        <div class="e3_171"></div>
      </div>
    </div><span  class="e2_26">모두의 레시피 </span><span  class="e2_27">쉽고 간편하게 레시피를 공유해보세요</span>
  </div>
  <div class=e2_28>
    <div class=e3_29><span  class="e3_30">오늘의 추천 메뉴</span>
      <div class=e3_36>
        <div class="e3_40"></div><span  class="e3_42">제목</span>
        <div class="e3_43"><img src="../../static/img/rimg1_1.png" style="width: 25; height: 25;"></div><span  class="e3_44">작성자</span>
        <div class="e3_46">♥</div><span  class="e3_47">90</span>
      </div>
      <div class=e3_48>
        <div class="e3_49"></div><span  class="e3_50">제목</span>
        <div class="e3_51"></div><span  class="e3_52">작성자</span>
        <div class="e3_53"></div><span  class="e3_54">90</span>
      </div>
      <div class=e3_62>
        <div class="e3_63"></div><span  class="e3_64">제목</span>
        <div class="e3_65"></div><span  class="e3_66">작성자</span>
        <div class="e3_67"></div><span  class="e3_68">90</span>
      </div>
      <div class=e3_55>
        <div class="e3_56"></div><span  class="e3_57">제목</span>
        <div class="e3_58"></div><span  class="e3_59">작성자</span>
        <div class="e3_60"></div><span  class="e3_61">90</span>
      </div>
    </div>
    <div class=e3_69><span  class="e3_70">랭킹</span>
      <div class=e3_72>
        <div class="e3_73"></div><span  class="e3_74">제목</span>
        <div class="e3_75"></div><span  class="e3_76">작성자</span>
        <div class="e3_77"></div><span  class="e3_78">90</span>
      </div>
      <div class=e3_79>
        <div class="e3_80"></div><span  class="e3_81">제목</span>
        <div class="e3_82"></div><span  class="e3_83">작성자</span>
        <div class="e3_84"></div><span  class="e3_85">90</span>
      </div>
      <div class=e3_86>
        <div class="e3_87"></div><span  class="e3_88">제목</span>
        <div class="e3_89"></div><span  class="e3_90">작성자</span>
        <div class="e3_91"></div><span  class="e3_92">90</span>
      </div>
      <div class=e3_93>
        <div class="e3_94"></div><span  class="e3_95">제목</span>
        <div class="e3_96"></div><span  class="e3_97">작성자</span>
        <div class="e3_98"></div><span  class="e3_99">90</span>
      </div>
    </div>
    <div class=e3_100><span  class="e3_101">최근 본 레시피</span>
      <div class=e3_103>
        <div class="e3_104"></div><span  class="e3_105">제목</span>
        <div class="e3_106"></div><span  class="e3_107">작성자</span>
        <div class="e3_108"></div><span  class="e3_109">90</span>
      </div>
      <div class=e3_110>
        <div class="e3_111"></div><span  class="e3_112">제목</span>
        <div class="e3_113"></div><span  class="e3_114">작성자</span>
        <div class="e3_115"></div><span  class="e3_116">90</span>
      </div>
      <div class=e3_117>
        <div class="e3_118"></div><span  class="e3_119">제목</span>
        <div class="e3_120"></div><span  class="e3_121">작성자</span>
        <div class="e3_122"></div><span  class="e3_123">90</span>
      </div>
      <div class=e3_124>
        <div class="e3_125"></div><span  class="e3_126">제목</span>
        <div class="e3_127"></div><span  class="e3_128">작성자</span>
        <div class="e3_129"></div><span  class="e3_130">90</span>
      </div>
    </div>
    <div class=e3_131><span  class="e3_132">유저 랭킹</span>
      <div class=e3_134>
        <div class="e3_135"></div><span  class="e3_136">제목</span>
      </div>
      <div class=e3_162>
        <div class="e3_163"></div><span  class="e3_164">제목</span>
      </div>
      <div class=e3_165>
        <div class="e3_166"></div><span  class="e3_167">제목</span>
      </div>
      <div class=e3_168>
        <div class="e3_169"></div><span  class="e3_170">제목</span>
      </div>
    </div>
  </div>
  <div class=e3_173><span  class="e3_175">2023 yuhan Univercity</span></div>
</div>
 <script th:inline="javascript">
        var sendMessage = /*[[${errorMessage}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
</body>
</html>