<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=euc-kr">
<title>모두의레시피</title>
<style type="text/css">	
</style>
<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body>
<div class="body_wrapper">
	<div class="body_content">
		<div class="menubar"></div>
		<span class="menu4"><a href="user">메뉴4</a></span>
		<span class="menu3"><a href="user">메뉴3</a></span>
		<span class="menu2"><a href="user">메뉴2</a></span>
		<span class="menu1"><a href="recipe">메뉴1</a></span>
		<span class="mainicon">모두의레시피</span>
		<!-- 마이페이지 주소 입력 --> 
		<div class="usericon"><a href="마이페이지.html"><i class="fa-solid fa-user"></i></a></div>
		<!-- 로그아웃 주소 입력 --> 
		<div class="logout_icon"><a href="로그아웃.html"><i class="fa-solid fa-right-from-bracket"></i></a></div>
  		<div class="searchbar">	
			<div class="searchradius">
				<form action="" method=""> <!-- 검색창 주소 입력 --> 
					<input type="text" class="search_txt">
					<button type="submit" class="search_btn">
						<span class="searchicon">
							<i class="fa-solid fa-magnifying-glass"></i>
						</span>
					</button>
				</form>
			</div>	
		</div>
		<!-- 여기부터 body에 추가할 코드 입력 -->
		<div class="slide_wrapper">
			<ul class="img_slide">
				<li><img th:src="@{/../img/a.jpg}"><ol>백종원 오이무침 새콤달콤 맛있게~</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>맛있는 밑반찬 백종원 가지볶음</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>닭볶음탕 닭도리탕 황금레시피 짱짱맛 칼칼함이 남달라</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>오징어 볶음, 향과 맛이 일품! 백종원 오징어 볶음</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>돼지고기 김치찌개 맛내는 비법</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>백종원레시피로 만든 콩나물무침으로 밥 한 끼 뚝딱 ~</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>밥도둑 깻잎김치 만들기 어렵지 않아요^^</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>제육볶음 만드는법 # 기사식당st 레시피</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>양념장이 참 맛있는 두부조림</ol></li>
				<li><img src="https://placehold.it/400x400"><ol>국물이 너무 개운해요~맑은콩나물국 맛있게 끓이는법(김진옥요리가좋다)</ol></li>				
			</ul>	
			<div class="slide_control">
			<p>
				<span class="prev"><i class="fa-solid fa-arrow-left"></i></span>
				<span class="next"><i class="fa-solid fa-arrow-right"></i></span>
			</p>
			
			</div>
			
			
		<script th:src="@{/../js/main.js}"></script>
		</div>
		
		
		
			
		
		
	</div>
	<div class="footer">
			<div class="footer_comment">@Yuhan University Group 3's Project</div>
	</div>
</div>
</body>
</html>