<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/../css/login.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
	<div class="body_wrapper">
		<div class="mainicon_wrapper">
			<a class="mainicon" href="/">모두의레시피</a>
		</div>
	    <div class="login_wrapper">
			<div class="login_form">
			    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
			        <label for="user_id">아이디</label><br>
			        <input type="text" id="user_id" name="user_id" required autofocus><br>
			        
			        <label for="password">비밀번호</label><br>
			        <input type="password" id="password" name="password" required><br>
			        
			        <button type="submit">로그인</button>
			    </form>
		    </div><hr>
		    <table>
				<tr>
				     <td><p><a href="/findid">아이디 찾기&nbsp; / </a></p></td>
				     <td><p><a href="/findps">&nbsp;비밀번호 찾기&nbsp; / </a></p></td>
				     <td><p><a href="/signup">&nbsp;회원가입</a></p></td>
			     </tr>
		    </table>
	    </div>
    </div>
    <script th:inline="javascript">
        var successMessage = /*[[${successMessage}]]*/ "";
        if (successMessage) {
            alert(successMessage);
        }
    </script>
    
    <script th:inline="javascript">
        var errorMessage = /*[[${errorMessage}]]*/ "";
        if (errorMessage) {
            alert(errorMessage);
        }
    </script>
    
    <script th:inline="javascript">
        var sendMessage = /*[[${sendMessage}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
    
    <script th:inline="javascript">
        var sendMessage = /*[[${loginMessage}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
</body>
</html>
