<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=euc-kr">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>모두의레시피</title>
<style type="text/css">   
   
</style>
<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" th:href="@{/../css/mypageTestU.css}">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body>
  
<div class=e2_2>
		<div class=e2_3>
			<div class="e2_4">
				<div class="e2_4_1">
					<img src="img/레시피.jpg" style="width: 100%; height: 100%;">
					<div class="t"><span class="e2_26">모두의 레시피 </span><span class="e2_27">쉽고 간편하게 레시피를 공유해보세요</span>
				</div></div>
				
			</div>
		</div>
<div class=e2_5><span class="e2_6"><a class="mainicon" href="/">모두의 레시피</a></span>
			<div class=e2_8>
         <span th:if="${session.loggedInNickname == '관리자'}" class="ad_1"><a href="/reviewRecipes">레시피 검토</a></span>
         <span th:if="${session.loggedInNickname == '관리자'}" class="ad_2"><a href="/user">회원 관리</a></span>
         <span class="e2_11"><a href="/recipe">레시피</a></span>
         <span class="e2_12"><a href="/rank">랭킹</a></span>
         <span class="e2_13"><a href="/board">게시판</a></span>
         <span class="e2_14"><a href="/mypage">마이페이지</a></span>   
            <div class="e2_22"><a href="/alarm" style="width:30px; height:30px;"><i th:if="${session.alarm != 1}" class="fas fa-bell"
                     style="width:30px; height:30px;"></i>
                     <i th:if="${session.alarm == 1}" class="fas fa-bell"
                     style="width:30px; height:30px; color: red;"></i></a></div>
            <div class="e2_23"><a href="/createRecipe"><i class="fas fa-pencil-alt"></i></a></div>
            
            <div th:if="${session.loggedInNickname != null}" class="e2_24"><a href="/logout">로그아웃</a></div>
            <div th:if="${session.loggedInNickname == null}" class="e2_24"><a href="/logout">로그인</a></div>
         </div>
			<div class=e3_172>
				<form action="/search" method="get"> <!-- 검색창 주소 입력 -->
					<div class="e2_7"><input type="text" name="keyword" class="search_txt" required></div>
					<div class="e3_171">
						<button type="submit" class="search_btn">
							<span class="searchicon">
								<i class="fa-solid fa-magnifying-glass" style="max-width:25px; max-height:25px;"></i>
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
		
		<div th:if="${session.loggedInNickname == '관리자'}" class="confirm_btn">
        	<a href="/reviewRecipes">
            	<button>레시피 검토</button>
        	</a>
    	</div>

		<div th:if="${session.loggedInNickname == '관리자'}" class="user_btn">
		    <a href="/user">
        		<button>회원 관리</button>
        	</a>
    	</div>
      
      
 <div class=e0_23>
	<div class=e3_93>
			<span class="e3_94"><a href="/mypage" style="color: darkgray;">작성한 레시피</a></span>
			<span class="e3_98"><a href="/mypage_B" style="color: darkgray;">작성한 게시글</a></span>
		<span class="e3_99"><a href="/mypage_L" style="color: darkgray;">좋아요한 레시피</a></span>
		<span class="e3_100"><a href="/mypage_S" style="color: darkgray;">스크랩한 레시피</a></span>
		<span class="e3_101"><a href="/mypage_U" style="font-weight: bold;">회원정보관리</a></span>
		<span class="e3_102">마이페이지</span>
	</div>
<!-- 여기부터 body에 추가할 코드 입력 -->
       <div class=e3_196><span  class="e3_193">회원정보관리</span> 
       
       <div class="userdelete_btn"><a th:href="@{'/deleteUserr/'+${nickname}}" onclick="return confirm('회원탈퇴 처리 하시겠습니까?');"><button>회원 탈퇴</button></a></div>
       
    <span  class="e3_194"><form action="/mypage_U" method="POST" enctype="multipart/form-data">
		<label for="userImage">프로필 이미지:</label></span>
		
        <input type="button" id="uploadButton" value="이미지 업로드"><input multiple type="file" id="file" name="file" style="display: none;"></input>
      
  
        <div id="preview" name="preview" class="preview" style="width: 100px;height: 100px;">
            <img th:src="@{${photo}}" name="preview1" class="preview1"   style="width: 200px;height: 200px;">
        </div>
    <div class="e3_195"></div>
      <div class="e3_197"></div>
      <div class="e3_201"></div>
      <div class="e3_203"></div>
      <div class="e3_205"></div>
      <div class="e3_207"></div>
      <div class="e3_210"></div>
      <div class="e3_212"></div>
      <div class="e3_214"></div>
      <div class="e3_216"></div>
      <div class="e3_218"></div>
	<div class="e7_3"></div>

        <span  class="e3_199"><label for="user_id">아이디:</label>
        <input type="text" class="text1" id="user_id" name="user_id" th:value="*{user_id}" readonly>
       </span>

        <span  class="e3_202"><label for="name">이름:</label>
        <input type="text"  class="text1" id="name" name="name" th:value="*{name}" required readonly>
        </span>

        <span  class="e3_204"><label for="email">이메일:</label>
        <input type="email" class="text1" id="email" name="email" th:value="*{email}" readonly>
        </span>

       <span  class="e3_206"><label for="birthdate">생년월일:</label>
        <input type="date" class="text1" id="birthdate" name="birthdate" th:value="*{birthdate}" readonly>
       </span>

        <span  class="e3_208"><label for="phone_number">전화번호:</label>
        <input type="tel" class="text1" id="phone_number" name="phone_number" th:value="*{phone}" required>
        </span>

        <span  class="e3_211"><label for="nickname">닉네임:</label>
        <input type="text" class="text1" id="nickname" name="nickname" th:value="*{nickname}" required readonly>
        </span>
        
        <span  class="e3_213"><label for="userpr">자기소개:</label>
        <input type="text" class="text1" id="pr" name="pr" th:value="*{pr}" required>
        </span>

        <!-- 비밀번호 수정 -->

        
        <span  class="e3_215"><label for="currentPassword">현재 비밀번호:</label>
        <input type="password" class="text1" id="currentPassword" name="password" required>
        </span>

        <span  class="e3_217"><label for="newPassword">새 비밀번호:</label>
        <input type="password" class="text1" id="newPassword" name="newpassword" required>
        </span>

        <span  class="e3_219"><label for="confirmNewPassword">새 비밀번호 확인:</label>
        <input type="password" class="text1" id="confirmNewPassword" name="confirmnewpassword" required>
       </span>

        <span  class="e7_4"><input type="submit" value="수정"></span>
    </form>
    </div>

       
       

   
</div>
   <div class=e0_133><span  class="e0_134">
         @Yuhan University Group 3's Project</div></span>

	<script th:inline="javascript">
	        var boarddeleteMessage = /*[[${boarddeleteMessage}]]*/ "";
	        if (boarddeleteMessage) {
	            alert(boarddeleteMessage);
	        }
    </script>
    <script>
        function previewImage(input) {
            var preview = document.getElementById('preview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '';
            }
        }
    </script>
    <script th:inline="javascript">
        var sendMessage = /*[[${errorMessage1}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
    <script th:inline="javascript">
        var sendMessage = /*[[${errorMessage2}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
     <script th:inline="javascript">
        var sendMessage = /*[[${errorMessage3}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
    <script>
		const imageInput = document.getElementById('file');
const uploadButton = document.getElementById('uploadButton');
const preview = document.getElementById('preview');

uploadButton.addEventListener('click', () => {
	imageInput.click();
});

imageInput.addEventListener('change', (event) => {
	const file = event.target.files[0];
	if (file) {
		const reader = new FileReader();

		reader.onload = (e) => {
			const image = new Image();
			image.src = e.target.result;
			image.style.maxWidth = '200px';
			image.style.maxHeight = '200px';
			image.style.minWidth = '200px';
			image.style.minHeight = '200px';
			preview.innerHTML = '';
			preview.appendChild(image);
		};

		reader.readAsDataURL(file);
	}
});


	</script>
   <script>
    // 세션 스토리지에 스크롤 위치 저장
    function setScrollPosition() {
        sessionStorage.setItem('scrollPosition', window.scrollY);
    }

    // 세션 스토리지에서 스크롤 위치 읽기
    function getScrollPosition() {
        return parseInt(sessionStorage.getItem('scrollPosition')) || 0;
    }

    // 페이지 로드 시 스크롤 위치 설정
    window.onload = function () {
        window.scrollTo(0, getScrollPosition());
    }

    // 페이지 언로드 시 스크롤 위치 저장
    window.onbeforeunload = function () {
        setScrollPosition();
    }
</script>
</body>
</html>