<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
     <style>
        /* CSS 스타일 추가 */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center; /* 가운데 정렬 */
        }
    </style>
</head>
<body>
    <h1>Recipe List</h1>
    <table>
        <tr>
            <th>Recipe_ID</th>
            <th>Title</th>
            <th>Main_Photo</th>
            <th>Created_Date</th>
            <th>User_ID</th>
            <th>Category_Name</th>
            <th>Total_Likes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.recipe_id}"></td>
            <td th:text="${recipe.title}"></td>
            <td th:src="${recipe.main_photo}"></td>
            <td th:text="${recipe.created_date}"></td>
            <td th:text="${recipe.user_id}"></td>
            <td th:text="${recipe.categoryName}"></td>
            <td th:text="${recipe.totalLove}"></td>
            
            
            <td><a th:href="@{/editRecipe/{recipe_id}(recipe_id=${recipe.recipe_id})}">Edit</a></td>
            <td><a th:href="@{/deleteRecipe/{recipe_id}(recipe_id=${recipe.recipe_id})}">Delete</a></td>
        </tr>
    </table>
    <a href="/createRecipe">Create New Recipe</a>
</body>
</html>
