<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=euc-kr">
<title>모두의레시피</title>
<style type="text/css">   
</style>
<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

<script>
			var ing = new Array();
            var cat = new Array();
            function init(){
   
                var tags = document.getElementById("t1");
                var btns=document.createElement("input");
                btns.type="button";
                btns.value=tags.value+"      x";
                btns.id=tags.value;
                ing.push(tags.value);
                alert(ing);
                tags.value="";
                btns.style.cursor="hand";
                btns.style.width="80px";
                btns.width="120px";          
                btns.color="white";
                btns.style.cursor="hand";
                btns.onclick=function(){hideInfo(this)};

                var clas = document.getElementById("body_wrapper4");
                clas.appendChild(btns);
                
            }

            function hideInfo(e){
                alert("삭제됨");
                var i = 0;
                for (i = 0; i < ing.length-1; i++) {
                    if(ing[i]==e.id){
                        break;
                    }
                }
                ing.splice(i,1);
                alert(ing);
                e.remove();    
            }
</script>




</head>
<body>
<div class="body_wrapper">
   <div class="body_content">
      <div class="menubar"></div>
      <span class="menu4"><a href="user">메뉴4</a></span>
      <span class="menu3"><a href="user">메뉴3</a></span>
      <span class="menu2"><a href="user">메뉴2</a></span>
      <span class="menu1"><a href="user">메뉴1</a></span>
      <span class="mainicon">모두의레시피</span>
      <!-- 마이페이지 주소 입력 --> 
      <div class="usericon"><a href="마이페이지.html"><i class="fa-solid fa-user"></i></a></div>
      <!-- 로그아웃 주소 입력 --> 
      <div class="logout_icon"><a href="로그아웃.html"><i class="fa-solid fa-right-from-bracket"></i></a></div>
       <div class="searchbar">   
         <div class="searchradius">
            <form action="" method=""> <!-- 검색창 주소 입력 --> 
               <input type="text" class="search_txt">
               <button type="submit" class="search_btn">
                  <span class="searchicon">
                     <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
               </button>
            </form>
         </div>   
      </div>
      <!-- 여기부터 body에 추가할 코드 입력 -->
      <div class="body_wrapper2">
    	<div class="check">
	      	<form method="post" action="/formAction">
		      	<p>용도</p>
		      	<label><input type="checkbox" id="picnic" name="type" value="피크닉">피크닉</label>
		      	<label><input type="checkbox" id="eating_alone" name="type" value="혼밥">혼밥</label>
		      	<label><input type="checkbox" id="home_meal" name="type" value="가정">가정</label>
		      	<label><input type="checkbox" id="party" name="type" value="파티">파티</label>
		      	<label><input type="checkbox" id="dessert" name="type" value="디저트">디저트</label>
		      	<label><input type="checkbox" id="late_night_meal" name="type" value="야식/안주">야식/안주</label>
		      	<p>재료</p>
		        <input type="text" id="t1" class="t11" value="">
		        <input type="button" onclick="init()" id="btn" value="생성"><br>
        		<div id="body_wrapper4"></div><br>
      			<p><input type="submit" value="검색"> <input type="reset" value="초기화"></p>
	    	</form>
        </div>
        
        
         <div class="array_list">
	        <h3>최신순</h3>
	        <h3>조회수순</h3>
	        <h3>좋아요순</h3>
        </div>
        
        
        
        <div class="classification_wrap">
			<article class="recipe_list">
				<a href="user">
					<img src="https://placehold.it/300x300">
					<ol>
						<li>레시피 제목</li>
						<li>작성자</li>
						<li>좋아요 조회수</li>
					</ol>
				</a>
			</article>
			<article class="recipe_list"><img src="https://placehold.it/300x300">
				<ol>
					<li>레시피 제목</li>
					<li>작성자</li>
					<li>좋아요 조회수</li>
				</ol>
			</article>
			<article class="recipe_list"><img src="https://placehold.it/300x300">
				<ol>
					<li>레시피 제목</li>
					<li>작성자</li>
					<li>좋아요 조회수</li>
				</ol>
			</article>
			<article class="recipe_list"><img src="https://placehold.it/300x300">
				<ol>
					<li>레시피 제목</li>
					<li>작성자</li>
					<li>좋아요 조회수</li>
				</ol>
			</article>
			<article class="recipe_list"><img src="https://placehold.it/300x300">
				<ol>
					<li>레시피 제목</li>
					<li>작성자</li>
					<li>좋아요 조회수</li>
				</ol>
			</article>
			<article class="recipe_list"><img src="https://placehold.it/300x300">
				<ol>
					<li>레시피 제목</li>
					<li>작성자</li>
					<li>좋아요 조회수</li>
				</ol>
			</article>
			<article class="recipe_list"><img src="https://placehold.it/300x300">
				<ol>
					<li>레시피 제목</li>
					<li>작성자</li>
					<li>좋아요 조회수</li>
				</ol>
			</article>
			<article class="recipe_list"><img src="https://placehold.it/300x300">			
				<ol>
					<li>레시피 제목</li>
					<li>작성자</li>
					<li>좋아요 조회수</li>
				</ol>
			</article>    
        </div>        
        </div>
       
	</div>
	<script th:src="@{/../js/main.js}"></script>
</div>