<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
</head>
<body>
    <h1>Recipe List</h1>
    <table>
        <tr>
            <th>Recipe_ID</th>
            <th>Title</th>
            <th>Main_Photo</th>
            <th>Created_Date</th>
            <th>User_ID</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.recipe_id}"></td>
            <td th:text="${recipe.title}"></td>
            <td th:text="${recipe.main_photo}"></td>
            <td th:text="${recipe.created_date}"></td>
            <td th:text="${recipe.user_id}"></td>
        </tr>
    </table>
</body>
</html>
