<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>

   </style>
     <script>
         function psCheck() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmpassword").value;
        var checkMsg = document.getElementById("checkMsg");
        
        if (password === confirmPassword) {
            checkMsg.style.color = "green";
            checkMsg.innerHTML = "비밀번호가 일치합니다.";
        } else {
            checkMsg.style.color = "red";
            checkMsg.innerHTML = "비밀번호가 일치하지 않습니다.";
        }
    }
    
     function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmpassword").value;
        
        if (password !== confirmPassword) {
            alert("비밀번호가 일치하지 않습니다!!");
            return false;
    }
    
    }
    </script>
</head>
<body>
    <h2>비밀번호 재설정</h2>

    <form th:action="@{/resetpasswd}" method="post" onsubmit="return validateForm()">
        <input type="hidden" name="token" th:value="${token}">
        
        <label for="newPassword">새 비밀번호:</label>
        <input type="password" id="password" name="newPassword" required><br>
        
        <label for="confirmPassword">새 비밀번호 확인:</label>
        <input type="password" id="confirmpassword" name="confirmPassword" onkeyup="psCheck()" required>
         <span id="checkMsg"></span><br/>
         
        <button type="submit">비밀번호 재설정</button>
    </form>
</body>
</html>
