<div class=e1_2>
  <div class=e1_3>
    <div class="e12_5"></div>
    <div class="e1_4"></div>
    <div class=e1_5><span  class="e1_6">모두의 레시피</span>
      <div class=e1_7><span  class="e1_8">분류</span><span  class="e1_9">랭킹</span><span  class="e1_10">게시판</span><span  class="e1_11">마이페이지</span>
        <div class="e1_12"></div>
        <div class="e1_13"></div>
        <div class="e1_14"></div>
      </div>
      <div class=e1_15>
        <div class="e1_16"></div>
        <div class="e1_17"></div>
      </div>
    </div><span  class="e1_18">모두의 레시피 </span><span  class="e1_19">쉽고 간편하게 레시피를 공유해보세요</span>
  </div>
  <div class=e1_22>
    <div class=e1_23><span  class="e1_24">총 16개의 레시피가 검색되었습니다.</span>
      <div class=e1_34>
        <div class="e1_35"></div><span  class="e1_36">제목</span>
        <div class="e1_37"></div><span  class="e1_38">작성자</span>
        <div class="e1_39"></div><span  class="e1_40">90</span>
      </div>
      <div class=e1_41>
        <div class="e1_42"></div><span  class="e1_43">제목</span>
        <div class="e1_44"></div><span  class="e1_45">작성자</span>
        <div class="e1_46"></div><span  class="e1_47">90</span>
      </div>
      <div class=e1_48>
        <div class="e1_49"></div><span  class="e1_50">제목</span>
        <div class="e1_51"></div><span  class="e1_52">작성자</span>
        <div class="e1_53"></div><span  class="e1_54">90</span>
      </div>
      <div class=e6_2>
        <div class="e6_3"></div><span  class="e6_4">제목</span>
        <div class="e6_5"></div><span  class="e6_6">작성자</span>
        <div class="e6_7"></div><span  class="e6_8">90</span>
      </div><span  class="e8_2">최신순</span><span  class="e8_3">조회순</span>
    </div>
    <div class="e7_248"></div>
    <div class="e7_398"></div>
    <div class="e7_397"></div><span  class="e7_249">다음</span>
    <div class=e8_482>
      <div class=e8_483>
        <div class="e8_484"></div><span  class="e8_485">제목</span>
        <div class="e8_486"></div><span  class="e8_487">작성자</span>
        <div class="e8_488"></div><span  class="e8_489">90</span>
      </div>
      <div class=e8_491>
        <div class="e8_492"></div><span  class="e8_493">제목</span>
        <div class="e8_494"></div><span  class="e8_495">작성자</span>
        <div class="e8_496"></div><span  class="e8_497">90</span>
      </div>
      <div class=e8_499>
        <div class="e8_500"></div><span  class="e8_501">제목</span>
        <div class="e8_502"></div><span  class="e8_503">작성자</span>
        <div class="e8_504"></div><span  class="e8_505">90</span>
      </div>
      <div class=e8_507>
        <div class="e8_508"></div><span  class="e8_509">제목</span>
        <div class="e8_510"></div><span  class="e8_511">작성자</span>
        <div class="e8_512"></div><span  class="e8_513">90</span>
      </div>
    </div>
    <div class=e8_515>
      <div class=e8_516>
        <div class="e8_517"></div><span  class="e8_518">제목</span>
        <div class="e8_519"></div><span  class="e8_520">작성자</span>
        <div class="e8_521"></div><span  class="e8_522">90</span>
      </div>
      <div class=e8_524>
        <div class="e8_525"></div><span  class="e8_526">제목</span>
        <div class="e8_527"></div><span  class="e8_528">작성자</span>
        <div class="e8_529"></div><span  class="e8_530">90</span>
      </div>
      <div class=e8_532>
        <div class="e8_533"></div><span  class="e8_534">제목</span>
        <div class="e8_535"></div><span  class="e8_536">작성자</span>
        <div class="e8_537"></div><span  class="e8_538">90</span>
      </div>
      <div class=e8_540>
        <div class="e8_541"></div><span  class="e8_542">제목</span>
        <div class="e8_543"></div><span  class="e8_544">작성자</span>
        <div class="e8_545"></div><span  class="e8_546">90</span>
      </div>
    </div>
    <div class=e8_548>
      <div class=e8_549>
        <div class="e8_550"></div><span  class="e8_551">제목</span>
        <div class="e8_552"></div><span  class="e8_553">작성자</span>
        <div class="e8_554"></div><span  class="e8_555">90</span>
      </div>
      <div class=e8_557>
        <div class="e8_558"></div><span  class="e8_559">제목</span>
        <div class="e8_560"></div><span  class="e8_561">작성자</span>
        <div class="e8_562"></div><span  class="e8_563">90</span>
      </div>
      <div class=e8_565>
        <div class="e8_566"></div><span  class="e8_567">제목</span>
        <div class="e8_568"></div><span  class="e8_569">작성자</span>
        <div class="e8_570"></div><span  class="e8_571">90</span>
      </div>
      <div class=e8_573>
        <div class="e8_574"></div><span  class="e8_575">제목</span>
        <div class="e8_576"></div><span  class="e8_577">작성자</span>
        <div class="e8_578"></div><span  class="e8_579">90</span>
      </div>
    </div>
  </div>
  <div class=e1_132><span  class="e1_133">2023 yuhan Univercity</span></div>
</div>