<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>회원가입</title>
	<style type="text/css">

	</style>
	<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/signup.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        function psCheck() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var checkMsg = document.getElementById("checkMsg");
        
        if (password === confirmPassword) {
            checkMsg.style.color = "green";
            checkMsg.innerHTML = "비밀번호가 일치합니다.";
        } else {
            checkMsg.style.color = "red";
            checkMsg.innerHTML = "비밀번호가 일치하지 않습니다.";
        }
    }
    
      function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        
        if (password !== confirmPassword) {
            alert("비밀번호가 일치하지 않습니다!!");
            return false;
    }
    
    }
       $(document).ready(function() {
    function checkAvailability(url, inputElementId, messageElementId, buttonElementId) {
        $(inputElementId).on("input", function() {
            var inputValue = $(this).val();
            
            $.ajax({
                type: "GET",
                url: url + inputValue,
                success: function(response) {
                    var messageElement = $(messageElementId);
                    var buttonElement = $(buttonElementId);
                    
                    if (response === true) {
                        messageElement.text("사용 가능");
                        buttonElement.prop("disabled", false);
                    } else {
                        messageElement.text("중복");
                        buttonElement.prop("disabled", true);
                    }
                },
                error: function() {
                    $(messageElementId).text("에러");
                }
            });
        });
    }
    
    checkAvailability("/checkUserIdAvailability?user_id=", "#user_id", "#duplicationMessage", "#signupButton");
    checkAvailability("/checkUseremailAvailability?email=", "#email", "#duplicationMessageemail", "#signupButton");
    checkAvailability("/checkUsernicknameAvailability?nickname=", "#nickname", "#duplicationMessagenickname", "#signupButton");
});  
    </script>
</head>

<body>
	<div class=e2_2>
		<div class=e2_3>
			<div class="e2_4"></div>
			<div class=e2_5><span class="e2_6"><a class="mainicon" href="/">모두의 레시피</a></span>
				<div class=e2_8><span class="e2_11"><a href="/recipe">분류</a></span><span class="e2_12"><a
							href="/rank">랭킹</a></span><span class="e2_13"><a href="/board">게시판</a></span><span
						class="e2_14"><a href="/mypage">마이페이지</a></span>
					<div class="e2_22"><a href="/alarm" style="width:30px; height:30px;"><i class="fas fa-bell" style="width:30px; height:30px;"></i></a></div>
					<div class="e2_23"><a href="/createRecipe"><i class="fas fa-pencil-alt"></i></a></div>
					<div class="e2_24"><a href="/logout"><i class="fas fa-sign-in-alt"></i></a></div>
				</div>
				<div class=e3_172>
					<form action="/search" method="get"> <!-- 검색창 주소 입력 -->
					<div class="e2_7"><input type="text" name="keyword" class="search_txt" required></div>
					<div class="e3_171">
						<button type="submit" class="search_btn">
							<span class="searchicon">
								<i class="fa-solid fa-magnifying-glass" style="max-width:25px; max-height:25px;"></i>
							</span>
						</button>
					</div>
					</form>
				</div>
		</div>
	
	<div class="body_wrapper">
		<h1>회원가입</h1>
		<div class="signup_wrapper">
			<div class="signup_form">
				<form th:action="@{/signup}" th:object="${user}" method="post" onsubmit="return validateForm()">
					<label>이름</label><br>
					<input type="text" th:field="*{name}" required/><br>
			        
			        <label for="user_id">아이디</label><br>
			        <input type="text" th:field="*{user_id}" id="user_id" placeholder="4자이상" minlength="4" maxlength="15" required/>
			        <span id="duplicationMessage"></span><br>
			        
			        <label>비밀번호</label><br>
			        <input type="password" th:field="*{password}" required/><br>
			        
			        <label>비밀번호 확인</label><br>
			        <input type="password" id="confirmPassword" onkeyup="psCheck()" required/>
			        <span id="checkMsg"></span><br>
			        
			        <label>닉네임</label><br>
			        <input type="text" th:field="*{nickname}" id="nickname" required maxlength="6"/>
			        <span id="duplicationMessagenickname"></span><br>
			        
			        <label>생년월일<br>
			        <input type="date" th:field="*{birthdate}" required/></label><br>
			        
			        <label>이메일</label><br>
			        <input type="email" th:field="*{email}" required/>
			        <span id="duplicationMessageemail"></span><br>
			        
			        <label>핸드폰 번호</label><br>
			        <input type="text" th:field="*{phone_number}" required/><br>
			        
			        <input type="submit" id="signupButton" value="회원가입" disabled  /> <!-- 버튼 비활성화 상태로 초기화 -->
				</form>
			</div>
		</div>
	</div>
	
	<div class=e3_173><span class="e3_175">2023 yuhan University</span></div>
	</div>
	<script th:inline="javascript">
		var sendMessage = /*[[${errorMessage}]]*/ "";
		if (sendMessage) {
			alert(sendMessage);
		}
	</script>
</body>

</html>