<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>

   </style>
     <script th:src="@{/../js/signup.js}"></script>
</head>
<body>

    <h1>모두의 레시피 회원가입</h1>
   <form th:action="@{/signup}" th:object="${user}" method="post" onsubmit="return validateForm()">
      <label>이름 : <input type="text" th:field="*{name}" required/></label><br/>
       <label for="user_id">아이디 : <input type="text" th:field="*{user_id}" id="user_id" placeholder="4자이상" minlength="4" maxlength="15" required/></label>
       <span id="duplicationMessage"></span><br>
       <label>비밀번호 : <input type="password" th:field="*{password}" required/></label><br/>
       <label>비밀번호 확인 : <input type="password" id="confirmPassword" onkeyup="psCheck()" required/></label>
       <span id="checkMsg"></span><br/>
       <label>생년월일 : <input type="date" th:field="*{birthdate}" required/></label><br/>
        <label>이메일 : <input type="text" th:field="*{email}" required/></label>
        <span id="duplicationMessageemail"></span><br><br/>
       <label>핸드폰 번호 : <input type="text" th:field="*{phone_number}"  required/></label><br/>
       <input type="submit" id="signupButton" value="회원가입" disabled  /> <!-- 버튼 비활성화 상태로 초기화 -->
   </br>
</body>
</html>