<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Recipes</title>
</head>
<body>
    <h1>Top 10 Recipes</h1>
    <ul>
        <li th:each="entry : ${top10RecipeLikeCounts}">
            <span th:text="${entry.key}"></span> <!-- Recipe ID -->
            <span> - Likes: <span th:text="${entry.value}"></span></span> <!-- Like Count -->
        </li> 
    </ul>
</body>
</html>