<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>모두의레시피</title>
	<style type="text/css">

	</style>
	<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/background.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/testboardcontent.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class=e2_2>
		<div class=e2_3>
			<div class="e2_4"></div>
			<div class=e2_5><span class="e2_6"><a class="mainicon" href="/1">모두의 레시피</a></span>
				<div class=e2_8><span class="e2_11"><a href="/recipe">분류</a></span><span class="e2_12"><a
							href="/rank">랭킹</a></span><span class="e2_13"><a href="/board">게시판</a></span><span
						class="e2_14"><a href="/mypage">마이페이지</a></span>
					<div class="e2_22"><a href="/alarm" style="width:30px; height:30px;"><i class="fas fa-bell" style="width:30px; height:30px;"></i></a></div>
					<div class="e2_23"><a href="/createRecipe"><i class="fas fa-pencil-alt"></i></a></div>
					<div class="e2_24"><a href="/logout"><i class="fas fa-sign-in-alt"></i></a></div>
				</div>
				<div class=e3_172>
					<form action="/search" method="get"> <!-- 검색창 주소 입력 -->
					<div class="e2_7"><input type="text" name="keyword" class="search_txt" required></div>
					<div class="e3_171">
						<button type="submit" class="search_btn">
							<span class="searchicon">
								<i class="fa-solid fa-magnifying-glass" style="max-width:25px; max-height:25px;"></i>
							</span>
						</button>
					</div>
					</form>
				</div>
			</div><span class="e2_26">모두의 레시피 </span><span class="e2_27">쉽고 간편하게 레시피를 공유해보세요</span>
		</div>
		<div class=e2_28>
			<div class=e19_182><span  class="e19_183">게시물 제목</span>
  <div class=e19_184>
    <div class="e19_185"></div>
    <div class="e19_186"></div><span  class="e19_187">작성자</span><span  class="e19_188">작성일</span>
    <div class="e19_189"></div>
    <div class=e19_190>
      <div class="e19_191"></div>
      <div class="e19_192"></div><span  class="e19_193">삭제</span><span  class="e19_194">수정</span>
    </div>
    <div class=e19_195>
      <div class="e19_196"></div>
      <div class="e19_197"></div><span  class="e19_198">댓글 작성</span><span  class="e19_199">댓글 작성</span><span  class="e19_200">댓글 내용</span>
    </div>
    <div class=e19_201>
      <div class="e19_202"></div><span  class="e19_203">2021-01-01</span><span  class="e19_204">작성자명</span>
      <div class="e19_205"></div><span  class="e19_206">삭제</span>
    </div>
    <div class=e19_207>
      <div class="e19_208"></div><span  class="e19_209">2021-01-01</span><span  class="e19_210">작성자명</span>
      <div class="e19_211"></div><span  class="e19_212">삭제</span>
    </div>
    <div class=e19_213>
      <div class="e19_214"></div><span  class="e19_215">2021-01-01</span><span  class="e19_216">작성자명</span>
      <div class="e19_217"></div><span  class="e19_218">삭제</span>
    </div>
  </div>
</div>
		</div>
		<div class=e3_173><span class="e3_175">2023 yuhan University</span></div>
	</div>
	<script th:inline="javascript">
		var sendMessage = /*[[${errorMessage}]]*/ "";
		if (sendMessage) {
			alert(sendMessage);
		}
	</script>
</body>

</html>